:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: "Nunito Sans", sans-serif;
	--font-accent: "Yeseva One", serif;

	--page-bg: rgb(196, 196, 196);
	--text-color: rgb(255, 255, 255);
	--accent: rgb(227, 184, 115);

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}
